{% extends 'layout.html' %} {% block body %}
<a
	href="../"
	onclick="document.querySelector('#disclaimer').style.display = 'block'"
	>Click here to run the script without proxy</a
>
<br />
<a
	href="."
	onclick="document.querySelector('#disclaimer').style.display = 'block'"
	>Click here to run the script with proxy</a
>
<p id="disclaimer" style="display: none">
	Please be patient while we are fetching data as it might take some long
</p>

{% if error %}
<div>
	<p>Error: {{exception}}</p>
	<p>Please try again.</p>
	<p>
		The error probably occurred because the proxy usage has been exhausted
	</p>
</div>
{% else %}
<div>
	<p>These are the most happening topics as on {{dateTime}}</p>
	<ul>
		{% for topic in currentTopics %}
		<li>{{topic}}</li>
		{% endfor %}
	</ul>
	<p>The IP address used for this query was {{ip}}</p>
</div>
{% endif %} {% endblock %}
